html
  head
    link(rel='stylesheet',type='text/css',href='/css/404.css')
    link(rel='stylesheet',type='text/css',href='/css/profile.css')
    link(rel='stylesheet',type='text/css',href='/css/cm.css')
    link(rel='stylesheet',type='text/css',href='/css/noscroll.css')

    #fb-root
    script
       window.fbAsyncInit = function() {
          //FB.init({appId: '172451406173427', status: true, xfbml: false, cookie: true});
          initialize();
          console.log('FB Init called');
          FB.Canvas.setAutoResize();
          fbApiInit = true; //init flag
        };
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27861488-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();


  body
    #centered
      #Oobj132
        img#Ggeo69(alt="", src="../images/404-Error-v1_02.png")
      #Oobj50
        a(href='/home')
          img#Ggeo47(alt="", src="../images/Logo.png")
      -if(account)
        #Oobj59
          #Grtf57.dfltt
            a(href="/logout")
              span.txt0 Logout
      #Oobj55
        #Grtf83.dfltt
          span.txt1 404 Error. Page not found.
      #Oobj62
        #Grtf54.dfltt
          span.txt2
            | Maybe your friends know what Willis
            | was talkin' bout. Ask them:
      -if(account)
        #Oobj99
          #Gcode70.dfltc
            form#contact_form(action='/nod', method='post')
              .dfltf 
                input#name.required(type='text', name='nod',style='color:#726E6D;font-size:20;font-family:Tahoma; background-color:Gainsboro;',size ='30',maxlength='80')
                input#name1(type='hidden', name='reqIds',value='')
                div
                  input#send.button(type='button', value='Ask Specific Friends')
                  input#post.button(type='button', value='Post on Wall')
      -else
        #Oobj99
          a(href="/auth/facebook")
            img#Ggeo22(alt="", src="../images/Connect with Facebook.png")
    div
      script(src='http://connect.facebook.net/en_US/all.js')
      script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
      script(src='/nowjs/now.js')
      #fb-root
      script 
          $(document).ready(function(){
              var fQuestion = !{JSON.stringify(account)};
              now.receiveMessage = function(qid, message){
              postToFeed(qid,$("#name").val());
            }
            $("#post").click(function(){
              now.distributeMessage($("#name").val(),fQuestion);
            });
            $("#send").click(function(){
              postToFriends($("#name").val());
            });
          });     
          function postToFriends(qText) {
            FB.init({appId: '172451406173427', xfbml: true, cookie: true});
            FB.ui({
                method: 'apprequests',
                message: qText     
                }, function(response){
                  if(response.request){
                    document.getElementById("name1").value = response.request;
                    document.forms["contact_form"].submit();
                  }
              });
            }
      
