html
  head
    title=title
    link(rel='stylesheet',type='text/css',href='/css/contest.css')

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27861488-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();


  body
    #centered
      #Oobj202
        a(target="_blank", href="/")
          img#Ggeo92(alt="", src="../images/Contest-Page-v1_03.png")
      #Oobj187
        a(href='/home')
          img#Ggeo86(alt="", src="../images/Logo.png")
      #Oobj188
        a(href='/home')
          img#Ggeo89(alt="", src="../images/The Community Mirror.png")
      #Oobj189
        #Grtf65.dfltt
          span.txt0
            | Use your community as a mirror for
            | your life
            br
      #Oobj190
        #Grtf69.dfltt
          a(href="/auth/facebook")
           img#Ggeo22(alt="", src="../images/Connect with Facebook.png")
      #Oobj214
        #Grtf146.dfltt
          span.txt2
            | Wanna win a Blackberry Tablet?
            
      #Oobj201
        #Grtf147.dfltt
          span.txt3
            | We thought so. It's pretty freakin'
            | simple.
            br
            br
            | All you have to do is become the user who has
            | the
          span.txt4 most responses 
          span.txt3
            | to questions in the community on Jan 31st. (Thats when the contest ends)
            br
            br
            | Thats it. Prizes will be given to the top three
            | leaders.
            br
            br
          span.txt4
            | Rule 1.
            
          span.txt3
            | There are no rules.
            br
            br
          span.txt4
            | Rule 2.

          span.txt3
            | Do whatever you can to get people to
            | respond to your questions. You can harass,
            | plead, cajole, or bribe. Though just posting
            | more questions will likely help.
            br
            br
          span.txt4
            | Rule 3.

          span.txt3
            | Oh, wait there is one rule. You have
            | to post
            | a minimum of 20 questions. Game on. 
            br
          .txt3
            a(href="/auth/facebook")='click here to Enter the competition'
