html
  head
    link(rel='stylesheet',type='text/css',href='/css/index.css')
    title=title

    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27861488-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type =
      'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ?
      'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();

    script(type="text/javascript")
      var uvOptions = {};
      (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AlO72PLOrxgC92cKyBP16w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
      })();





  body


    
    script(type="text/javascript")
      var WRInitTime=(new Date()).getTime();
    

    
      
    #centered
      #Oobj146
        a(href='/show/promotion')
          img#Ggeo73(alt="", src="../images/Star_03.png")
      #Oobj11
        #Grtf16.dfltt
          span.txt0
            | Let the people who know you best
            | give you 
            span.bold anonymous
            |   feedback
      #Oobj14
        #Grtf17.dfltt
          span.txt1
            | Ask things
            | like:&nbsp
          span.txt2
            | Am I in the right
            | career? &nbsp Am I
            | stylish?&nbsp Should I go back to
            | school?&nbsp Do I look good in a swim
            | suit?
      #Oobj15
        #Grtf18.dfltt
          span.txt3
            |You ask the mirror a question -  
            |The mirror asks your friends - 
            |The mirror gives you answers

      #chrome
        | Community Mirror works best with Chrome and Firefox..


      #Oobj20
        img#Ggeo20(alt="", src="../images/Pictograph.png")
      #OLogo
        img#Ggeo21(alt="", src="../images/The Community Mirror.png")
      #OConnect
        a(href="/auth/facebook")
          img#Ggeo22(alt="", src="../images/Connect with Facebook.png")


    #ClickTaleDiv(style="display: none;")
    script(type="text/javascript")    
      if(document.location.protocol!='https:')
      document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRc5.js'%20type='text/javascript'%3E%3C/script%3E"));
    script(type="text/javascript") if(typeof ClickTale=='function') ClickTale(3855,1,"www09");


