html


a:link {color: #0000ff;}
a:visited {color: #800080;}
a:active {color: #ff0000;}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  overflow:hidden;
}
img {
  border-width: 0;
  vertical-align: top;
}
.dfltt {
  font-family: 'Times New Roman';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #000000;
}
.dfltc {
  font-family: 'Times New Roman';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  color: #000000;
}
.lalign {
  position: relative;
  text-align: left;
}
.ralign {
  position: relative;
  text-align: right;
}
.calign {
  position: relative;
  text-align: center;
}
.jalign {
  position: relative;
  text-align: justify;
}
form#Oform3 {
  visibility: visible;
  margin: 0px;
  font-size: 10px;
}
.dfltf  {
  position: absolute;
  color: #000000;
  font-family: 'Times New Roman';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

#centered {
  position: relative;
  width: 760px;
  height: 100%;
  margin: 0px auto 0 auto;
  text-align: left;
  padding-left: 1px;
  cursor: default;
}
#Oobj46 {
  position: absolute;
  font-size: 10px;
  z-index: 1;
  left: -0.10em;
  top: 19.30em;
  width: 76.00em;
  height: 42.00em;
}
#Oobj35 {
  position: absolute;
  font-size: 10px;
  z-index: 2;
  left: 1.30em;
  top: 1.10em;
  width: 19.40em;
  height: 16.30em;
}
#Oobj36 {
  position: absolute;
  font-size: 10px;
  z-index: 3;
  left: 23.00em;
  top: 5.30em;
  width: 41.40em;
  height: 7.30em;
}
#Oobj38 {
  position: absolute;
  font-size: 10px;
  z-index: 4;
  text-align: left;
  left: 22.10em;
  top: 11.70em;
  width: 44.50em;
  height: 3.40em;
}
.txt0 {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
}
#Oobj39 {
  position: absolute;
  font-size: 10px;
  z-index: 5;
  text-align: left;
  left: 7.60em;
  top: 20.70em;
  width: 53.90em;
  height: 2.60em;
}
.txt1 {
  font-family: Tahoma, sans-serif;
  font-size: 17px;
  color: #ffffff;
}
#Oobj40 {
  position: absolute;
  font-size: 10px;
  z-index: 6;
  text-align: left;
  left: 14.70em;
  top: 24.20em;
  height: 4.80em;
}
#Oobj41 {
  position: absolute;
  font-size: 10px;
  z-index: 6;
  text-align: left;
  left: 14.70em;
  top: 22.20em;
  height: 4.80em;
}
/*#Oobj43 {
  position: absolute;
  font-size: 10px;
  z-index: 6;
  text-align: left;
  left: 14.70em;
  top: 26.20em;
  /*height: 4.80em;
}*/
.txt2 {
  font-family: Tahoma, sans-serif;
  font-size: 32px;
  color: #ffffff;
}
#Oobj44 {
  position: absolute;
  font-size: 10px;
  z-index: 7;
  text-align: left;
  left: 68.20em;
  top: 1.00em;
  width: 6.00em;
  height: 2.40em;
}
.txt3 {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #004080;
}
#Oobj48 {
  position: absolute;
  font-size: 10px;
  z-index: 8;
  text-align: left;
  left: 5.50em;
  top: 40.80em;
  width: 41.00em;
  height: 2.70em;
}
#Oobj101 {
  position: absolute;
  font-size: 10px;
  z-index: 9;
  left: 21.00em;
  top: 31.70em;
  width: 14.10em;
  height: 2.80em;
}
#Gform7 {
  width: 100%;
  height: 100%;
  color: #004080;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  cursor:pointer;
}
#Oobj102 {
  position: absolute;
  font-size: 10px;
  z-index: 10;
  left: 35.70em;
  top: 31.70em;
  width: 12.30em;
  height: 2.80em;
}
#Gform8 {
  width: 100%;
  height: 100%;
  color: #004080;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  cursor:pointer;
}